* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
}

.picture {
    width: 40vw;
    min-height: 100vh;
    background-image: url(./neil-mark-thomas-meScUd3NbKk-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-top: 200px;
    height: 125px;
    background-color: rgba(84, 84, 84, 0.49);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo>img {
    height: 45px;
    width: 45px;
}

.logo>p {
    font-size: 4rem;
}

.picture-credit {
    margin-bottom: 20px;
    color: white;
}

.picture-credit>a {
    color: white;
}

.form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border: 10px black ridge;
    border-right: 10px black groove;
    border-bottom: 10px black groove;
    background: linear-gradient(#b6d3df, #ebf8e1, #0f0f0f);
}

.form-header, 
.signUp, 
.form-footer {
    padding-left: calc(0.1 * 60vw);
    padding-right: calc(0.1 * 60vw);
}

.form-header>p,
.form-header>p>em {
    font-size: 2rem;
}

.filler-text {
    padding-top: 20px;
}

.signUp {
    background: rgba(84, 84, 84, 0.6);
    border-top: 10px black groove;
    border-bottom: 10px black groove;
    padding-top: 20px;
    height: 325px;
}

h1 {
    font-size: 3rem;
    padding-bottom: 20px;
}

form {
    position: relative;
}

form>.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20%;
    column-gap: 5%;
}

form>.form-content>div {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    font-size: 1.1rem;
}

input {
    font-size: 1.3rem;
    width: 80%;
    height: 25px;
    border-radius: 3px;
    border: 2px black solid;
}

input:not(:placeholder-shown) {
    border: 2px red solid;
}

input[type="text"]:not(:placeholder-shown):invalid + span::after {
    position: absolute;
    color: red;
    content: "Please give valid name";
}

input[type="email"]:not(:placeholder-shown):invalid + span::after {
    position: absolute;
    color: red;
    content: "Please give valid email";
}

input[type="tel"]:not(:placeholder-shown):invalid + span::after {
    position: absolute;
    color: red;
    content: "Please give valid number";
}

input:valid {
    border: 2px black solid;
}

.form-footer {
    margin-top: 38px;
}

button {
    height: 45px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: #a0f1dd;
    position: absolute;
    top: calc(0.78 * 325px);
    font-size: 1.4rem;
}

.form-footer {
    font-size: 1.25rem;
}

.form-footer>a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #a0f1dd;
}