* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

.picture {
    width: 40vw;
    height: 100vh;
    background-image: url(./neil-mark-thomas-meScUd3NbKk-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo {
    margin-bottom: calc(0.65 * 100vh);
}

.picture-credit {
    margin-bottom: 20px;
}

.form {
    width: 60vw;
}